/*home style*/
body {
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
  background-color: #f3f7fc;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: #d8e6f5;
  max-width: 100%;
}

.rightlinks {
  display: flex;
  gap: 30px;
}

a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 471px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.containerp {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  flex-wrap: flex;
}

.mepara {
  display: flex;
  width: 600px;
  max-width: 100%;
  flex-direction: column;
  align-self: self-end;
  font-size: 2vw;
}
.mehiking {
  width: 300px;
  height: autopx;
  max-width: 100%;
  border-radius: 4px;
  align-self: center;
}

