body {
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
  background-color: #f3f7fc;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: #d8e6f5;
  color: white;
}

.rightlinks {
  display: flex;
  gap: 30px;
}

a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 471px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

/*abboutme.html style*/
.pic {
  width: 300px;
  height: 300px;
}

.pictitle {
  display: flex;
  justify-content: center;
}